HOST_MYSQL=192.168.1.1
PUERTO_MYSQL=3306
USUARIO_MYSQL=francisco
PASSWORD_MYSQL=tupassword
BASE_MYSQL=nombre_base
USU_CRM=usuario
CSÑA_CRM=contraseña
BASE_PATH=C:\Users\francisco.bartesaghi\Claude\Projects\MPA Prex
CREDS_FILE_PATH=C:\Users\francisco.bartesaghi\OneDrive\...